{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "chrome": 55,
        "firefox": 52
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-runtime"
    ],
    "env": {
      "development": {
        "plugins": [
        ]
      },
      "production": {
        "minified": true,
        "presets": [
          "react-optimize"
        ],
        "plugins": [
        ]
      }
    }

}
