{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "chrome": 50,
                "firefox": 45,
                "ios": 9,
                "safari": 9,
                "edge": 13
            }
        }]
    ],
    "plugins": [
        "transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "presets": [
                "react-optimize"
            ],
            "plugins": [
            ]
        }
    }

}
